global
  daemon
  maxconn 256

defaults
  mode http
  timeout connect 5000ms 
  timeout client 50000ms
  timeout server 50000ms

listen cluster
  {# utilisation d'un facts #}
  bind {{ ansible_facts['eth1']['ipv4']['address'] }}:80
  mode http
  stats enable
  balance roundrobin
{# Utilisation d'une groupe d'inventaire pour récuperer des facts externes #}
{# Creation d'une boucle for pour traiter chaque elements du groupe à analyser #}
{% for i in groups['webservers'] %}
  server {{ hostvars[i]['ansible_facts']['hostname'] }}
{% endfor %}

option httpchk HEAD /index.html HTTP/1.0